*{
  overflow: hidden;
}
.App {
  background-color: rgb(41, 42, 54);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.ClassyDog {
  display: flex;
  color: red; 
  margin: auto;
  height: 50vh;
  width: 100vh;

}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  max-width: 500px;
  max-height: 500px;
  border: dashed gold 5px;
  border-radius: 100%;
  animation: rotation 30s infinite linear;
}

.goodboy {
  background-color: rgb(255, 0, 0);
  max-height: 60px;
  max-width: 100px;
  font-size: 1rem;
  right: 10%;
  position: absolute;
}

/*  */
.bone{
  margin: 20px;
  position: relative;
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.c1, .c2, .c3, .c4{
  background:#fff;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position:absolute;
}
.c1{
  left: 0;
  top: 0;
}
.c2{
  right: 0;
  top: 0;
}
.c3{
  left: 0;
  bottom: 0;
}
.c4{
  bottom: 0;
  right: 0;
}
.b1 {
  background:#fff;
  height: 30px;
  width: 120px;
  position:absolute;  
  left: 15px;
  top: 15px;
}
.b2 {
  position: absolute;
  left: 15px;
  top: 0;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}